<?xml version="1.0"?>
<robot name="mrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_description)/urdf/mrobot_body_gazebo.urdf.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/camera_gazebo.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/rplidar_gazebo.xacro" />

    <xacro:property name="camera_offset_x" value="0.1" />
    <xacro:property name="camera_offset_y" value="0" />
    <xacro:property name="camera_offset_z" value="0.047" />

    <xacro:property name="rplidar_offset_x" value="0" />
    <xacro:property name="rplidar_offset_y" value="0" />
    <xacro:property name="rplidar_offset_z" value="0.095" />

    <!-- MRobot机器人平台-->
    <mrobot_body/>

    <!-- Camera -->
    <joint name="camera_joint" type="fixed">
        <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

    <joint name="rplidar_joint" type="fixed">
        <origin xyz="${rplidar_offset_x} ${rplidar_offset_y} ${rplidar_offset_z}" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="laser_link"/>
    </joint>

    <xacro:usb_camera prefix="camera"/>
    <xacro:rplidar prefix="laser"/>

</robot>